################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DavAleIsAvailable/FileContentIndex/8293710e-e786-45d6-a68f-5caada710c21.vsidx
/.gitignore
